.proj-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    background-color: rgb(247, 247, 247);
    border-radius: 35px;
    margin-top: 25px;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .2);
}

.proj-item a {
    color: black;
}

.proj-item div p {
    padding-bottom: 15px;
}

.app-icon {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.app-icon img {
    width: 100%;
    object-fit: contain;
    border-radius: 30px;
}

.max-width {
    max-width: 900px;
    margin: 0 auto;
}

@media only screen and (max-width: 650px) {
    .proj-item {
        display: grid;
        grid-template-columns: 25% 70%;
        column-gap: 2%;
        background-color: rgb(247, 247, 247);
        border-radius: 30px;
        margin-top: 25px;
        box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .2);
    }

    .app-icon {
        display: flex;
        align-items: center;
        object-fit: contain;
        width: 100%;
    }

    .app-icon img {
        width: 80%;
        object-fit: contain;
        border-radius: 20%;
    }
}