.top-banner {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    display: flex;
    padding-bottom: 30px;
}

.top-greet {
    font-size: 70px;
}

.banner-child {
    flex: 1;
}

.banner-selfie img {
    max-width: 300px;
    object-fit: contain;
}

.banner-selfie {
    display: block;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    padding-left: 10px;
}

.skills-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.skill-item {
    text-align: center;
}

.skill-item img {
    width: 80%;
    object-fit: contain;
}

.body-card {
    max-width: 1000px;
    margin: 0 auto;
}

.links-list {
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding-left: 10px;
}

.dim-text {
    color: rgb(116, 116, 116);
    display: flex;
    align-items: center;
}

.links-list a img {
    width: 60px;
    object-fit: contain;
}

.tall-icon {
    aspect-ratio: 1/1;
    background-color: white;
    border-width: 1px;
    border-radius: 20%;
    border-color: rgb(186, 186, 186);
    border-style: solid;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.default-hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 650px) {
    .top-banner {
        font-family: 'Shadows Into Light', cursive;
        text-align: center;
        display: block;
        padding-bottom: 30px;
    }

    .banner-selfie img {
        width: 150px;
        object-fit: contain;
    }

    .banner-child h3 {
        width: 60%;
    }

    .banner-selfie {
        background-color: rgb(227, 227, 227);
        width: 150px;
        height: 150px;
        border-radius:75px;
        overflow: hidden;
        float: right;
        z-index: 0;
        margin-top: -130px;
        margin-right: 15px;
    }
}