.nav-bar {
    padding: 20px;
    display: flex;
}

.menu-button {
    cursor:pointer;
}

.nav-icon {
    flex: 1;
    margin-left: 0;
}

.nav-icon img {
    width: 35px;
    object-fit: contain;
}

.nav-list {
    flex: 2;
    overflow: hidden;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-list a {
    float: left;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list a:hover {
    color: #505050;
}