body {
    font-family: 'M PLUS 1p', sans-serif;
}

h4 {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

ul {
    margin: 0;
}

li {
    margin-top: 5px;
}

img {
    image-rendering: optimizeQuality;
}

.contents {
    padding-bottom: 200px;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}