body {
    font-family: 'M PLUS 1p', sans-serif;
}

img {
    image-rendering: optimizeQuality;
}

.contents {
    padding-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}