#miracle-height {
    min-height: 500vh;
}

#subsmanager-height {
    min-height: 500vh;
}

#faire-height {
    min-height: 500vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.app-top {
    position: absolute;
    height: calc(100% - 50px);
}

.app-top div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
    padding-right: 30px;
}

.app-icon {
    width: 200px;
    border-radius: 20%;
    animation: bounce 1s 0s;
    transform: scale(1);
}

.app-sc {
    opacity: 0;
}

.app-sc img {
    height: 90vh;
    padding-top: 5vh;
}

@keyframes bounce {
    0% { transform: scale(0); }
    30% { transform: scale(0); }
    60% { transform: scale(1.5); }
    70% { transform: scale(0.8); }
    85% { transform: scale(1.2); }
    100% { transform: scale(1); }
}