.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.app-top {
    height: calc(100% - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-icon {
    width: 200px;
    border-radius: 20%;
    animation: bounce 1s 0s;
    transform: scale(1);
}

.app-sc {
    width: 50%;
    max-width: 600px;
    opacity: 1;
}

@keyframes bounce {
    0% { transform: scale(0); }
    30% { transform: scale(0); }
    60% { transform: scale(1.5); }
    70% { transform: scale(0.8); }
    85% { transform: scale(1.2); }
    100% { transform: scale(1); }
}